<div class="detail-container" *ngIf="selectedProduct">
  <img src="{{ selectedProduct?.url }}" class="img" alt="" />
  <div class="detail-item">
    <h3 class="name">{{ selectedProduct?.name }}</h3>
    <div class="price">{{ selectedProduct?.price | currency }}</div>
    <div>{{ selectedProduct?.description }}</div>
    <select class="select-input" name="amount" [(ngModel)]="amount">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <div>
      <button class="button" (click)="addtocart()">Add to cart</button>
    </div>
    <a class="back-link" routerLink="/">&larr; Back to products list</a>
  </div>
</div>
